body {
  background-color: #111;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
}

button {
  border: none;
  background-color: azure;
  font-weight: 600;
  padding: auto;
  width: 80px;
  height: 40px;
}
